div.pinstripe{
	clear:both;
	font-size:0;
	line-height:0;
	height:4px;
	background-color: #a9a9a9 ;
}

div#footerLegendControl{
font-style:italic;
padding:9px 0 0 0;
margin:0 13px 0 9px;
border:0 solid #CCC;
}

div#copyrightSection{
padding:9px 0 0 0;
text-align: center;
color:  #a9a9a9;
}

div#footerLegendTitle{
padding:0;
margin:0 0 6px 7px;
}

.botonera{
	margin-left: 20px;
	padding: 10px;
}


.listados{
	margin-left: 10px;
}

.listados h1{
	font-size: 1.3em;
    margin-left: 50px;
    color: #184c77;	
    left: 10px !important;	
}


.th_header {
   background-color: #a9a9a9;
   font: bold 1.0em/1.5em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
