div.pinstripe{
	clear:both;
	font-size:0;
	line-height:0;
	height:4px;
	background-color: #a9a9a9 ;
}

div#footerLegendControl{
	font-style:italic;
	padding:9px 0 0 0;
	margin:0 13px 0 9px;
	border:0 solid #CCC;
}

div#copyrightSection{
	padding:9px 0 0 0;
	text-align: center;
	color:  #a9a9a9;
}

div#footerLegendTitle{
	padding:0;
	margin:0 0 6px 7px;
}

.botonera{
	margin-left: 20px;
	padding: 10px;
}


.listados{
	margin-left: 10px;
}

.listados h1{
	font-size: 1.3em;
    margin-left: 50px;
    color: #184c77;	
    left: 10px !important;	
}


.th_header {
   background-color: #a9a9a9;
   font: bold 0.9em/1.1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
   text-align: left;
   margin-left: 30px;
}


.btn-form { 
      float: left; 
      margin-right : 50px;
 }
 
 .btn-form-left { 
      float: left !important; 
      margin-right : 50px;
 }
 
.select-filter-afiliados{
	width: 200px;
	float: left;
}


a:link {color:#184c77;}      /* unvisited link */
a:visited {color:#184c77}  /* visited link */
a:hover {color:#184c77}  /* mouse over link */
a:active {color:#184c77}  /* selected link */


.btn-right{
	float: right;
	margin-right:50px;
}


.text-align-left{
	text-align: left;
}


.activo{
	color: green;
	font-weight: bold;
}

.baja{
	color: red;
	font-weight: bold;
}
